[user]
	email = gorthol@pm.me
	name = Juanjo Alvarez
[color]
	ui = auto
[push]
	default = simple
	followTags = true
[credential]
	helper = store

[alias]
    prune = fetch -prune
    undo = reset --soft HEAD^
    stash-all = stash save --include-untracked
    glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

[merge]
    conflictstyle = diff3

[push]
  default = simple
  # "push the current branch back to the branch whose changes are usually integrated into the current branch"
  # "refuse to push if the upstream branch’s name is different from the local one"
  # https://git-scm.com/docs/git-config#git-config-pushdefault

  followTags = true
  # Because I get sick of telling git to do it manually
  # https://git-scm.com/docs/git-config#git-config-pushfollowTags

[status]
  showUntrackedFiles = all
  # Sometimes a newly-added folder, since it's only one line in git status, can slip under the radar.
  # https://git-scm.com/docs/git-config#git-config-statusshowUntrackedFiles

[diff]
  ;tool = icdiff
  tool = kitty
  guitool = kitty.gui

[difftool]
  prompt = false
  trustExitCode = true

[difftool "icdiff"]
  cmd = /usr/bin/icdiff --line-numbers $LOCAL $REMOTE

[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE

[difftool "kitty.gui"]
    cmd = kitty +kitten diff $LOCAL $REMOTE

[commit]
	gpgsign = true
[core]
	excludesfile = /home/juanjux/MyDotFiles/.gitignore
